.info-box {
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  height: 45%;
  margin: 10px;
  background-color: #eee;
  display: flex;
}

.info-box > p {
  color: black;
}

.info-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 20%;
  height: 95vh;
  align-items: center;
}

.info-container > button {
  width: 90%;
  height: 2em;
  height: 1.5em;
}

.menu {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: #eee;
  margin-bottom: 0;
}
label {
  font-size: 1.5em;
  color: #eee;
}
input {
  width: 20%;
  height: 2em;
  border-radius: 5px;
}
input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
}

.menu > button {
  height: 2.5em;
  width: 20%;
  font-size: 2em;
  margin-bottom: 10px;
}

.menu.hide {
  display: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game.hide {
  display: none;
}

.board {
  width: 75%;
  max-width: 95vh;
  margin: auto;
  display: flex;
}

#mod-selector {
  height: 50%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

body {
  max-height: 100vh;
  background-color: #444;
}

h1 {
  font-size: 72px;
  background: -webkit-radial-gradient(50% 50%, farthest-corner, #ffc, #ffd700);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu-space {
  padding-top: 30vh;
}

#game-title {
  position: absolute;
  top: 20px;
}

.bounce-title {
  animation: bouncy 3s infinite linear;
}

@keyframes bouncy {
  0% {
    padding-top: 0px;
  }
  8% {
    transform: rotate(1deg);
  }
  20% {
    padding-top: 10px;
  }
  23% {
    transform: rotate(-1deg);
  }
  30% {
    padding-top: 0px;
    transform: rotate(0deg);
  }
  38% {
    padding-top: 0px;
  }

  50% {
    background-position: 150% center;
  }
}
